:root {
  --side-nav-width: 120px;
}

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #c38d9e;
}

.sideNav {
  flex-basis: var(--side-nav-width);
  height: calc(100% - 30px);
  background-color: #e27d60;
}

.body {
  flex-basis: calc(100% - var(--side-nav-width));
  height: calc(100% - 30px);
  width: 100%;
  background-color: #41b3a3;
}

.footer {
  flex-basis: 100%;
  background-color: blue;
  height: 30px;
  width: 100%;
}
