:root {
  --side-nav-width: 220px;
}

* {
 font-family: Bradley Hand, cursive;
}

 /* Mobile */

.app {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}


.sideNav {
  flex-basis: var(--side-nav-width);
  height: 100%;
  background: radial-gradient(circle, rgb(17, 170, 86), #02ac87);
}

.sideNavContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
}

.navButton {
  margin: 7px 15px;
  padding: 15px 0;
  border-radius: 15px;
  background: #ff9100;
  box-shadow: 2px 2px 5px 2px #00c3ff;
}

.navButtonText {
  transform: rotate(-5deg);
  background-color: white;
  border-radius: 5px;
}

.body {
  flex-basis: calc(100% - var(--side-nav-width));
  height: 100%;
  width: 100%;
  background-color: #ff9100;
}

/* Table */
@media only screen and (min-width: 800px) {
  .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
}

/* Desktop */
@media only screen and (min-width: 1400px) {
  .app {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
}

/* Table */
@media only screen and (min-width: 800px) {
  .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
}

/* Desktop */
@media only screen and (min-width: 1400px) {
  .app {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
}
