/* ------------------ Mobile ------------------  */
.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.photoContainer {
display: flex;
padding: 30px;
}

.profilePhoto {
  margin: auto 0;
  height: auto;
  width: 160px;
  border-radius: 50%;
  transform: rotate(0deg) scale(1);
  transition-duration: 1s;
}

.profilePhoto:hover {
  transform: rotate(-1deg) scale(1.1);
  box-shadow: 10px 5px 5px lightgrey;
  transition-duration: 1s;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    height: 100%;
}

.homePageText {
    padding: 15px;
    background-color: rgb(183, 214, 250);
    transform: rotate(0deg);
    transition-duration: 1s
}

.homePageText:hover {
    border: 1px solid white;
    transform: rotate(1deg);
    transition-duration: 1s
}

/*------------------  Table ------------------ */
 @media only screen and (min-width: 800px) {
  .pageContainer {
    display: flex;
    height: 100%;
    justify-content: center;
  }
} 

/*------------------  Computer ------------------ */
 @media only screen and (min-width: 1400px) {
  .pageContainer {
    display: flex;
    height: 100%;
    justify-content: center;
  }
} 
